.choose{
  padding: 5em 0 !important;
  margin-bottom: 5em !important;
  h2{
    margin-bottom: 1.3em;
  }
  &__container{
    @extend %list-style;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0 3em;
    max-width: 80%;
    margin: 0 auto;
    li{
      display: grid;
      grid-template-rows: 80px auto;
      align-items: center;
      justify-content: center;
      img{
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
      p{
        text-align: center;
        margin-top: 1.5em;
        font-weight: bold;
        background: $color-first;
        line-height: 2.5em;
        padding: 0 1.3em;
        color: $body-bg;
        border-radius: 1.3em;
      }
    }
  }
}

