.sistemadeventilacion{
  &__container{
    @include grid('.sistemadeventilacion__item', 2 3 6, 0)
  }
  > h2{
    margin-bottom: 1.2em;
  }
  &__item{
    //background: steelblue;
    $opacity: .65;
    padding: 1em;
    display: grid;
    //border: 1px solid #000;
    grid-template-rows: 5em auto auto;
    cursor: pointer;
    > * {
      transition: all .3s;
    }
    img{
      opacity: $opacity;
      height: 100% !important;
      width: auto;
      margin: 0 auto;
    }
    figcaption{
      text-align: center;
      font-weight: bold;
      margin-top: 1em;
      margin-bottom: 1em;
      opacity: $opacity;
    }
    a{
      display: table;
      margin: 0 auto;
      font-size: .7em;
      line-height: 2em;
      padding: 0 .8em;
      border-radius: 1em;
      background: $color-first-alt;
      color: $body-bg;
    }
    &:hover, &.active{
      img, figcaption, a{
        opacity: 1;
      }
      a{
        background-color: $color-first;
      }
    }
  }
}
