footer.footer-contact.contact-data.contact-data
  .container.no-padding.contact-data__container
    .contact-data__main
      h3.contact-data__title Contacto
      .data-group.phone
        img(src="img/icons/icon-whatsapp-light.svg" alt="whatsapp icon")
        span +52 1 33 1600 6582
      .data-group.email
        img(src="img/icons/envelope-light.svg" alt="email icon")
        -let email= "formulario@aadoccsa.com.mx"
        a(href=`mailto:${email} `)= email
      ul.contact-data__social-network
        li: a(href="" target="_blank"): img(src="img/icons/icon-facebook-light.svg" alt="")
        li: a(href="" target="_blank"): img(src="img/icons/icon-instagram-light.svg" alt="")
    .contact-data__data
      h3.contact-data__title Contamos con presencia en:
      .contact-data__offices
        .contact-data__office
          .office-group
            img(src="img/icons/pin-light.svg" alt="email icon")
            .group-container
              p.city Guadalajara, Jalisco
              p.address Colon 850, Colonia Moderna.
          .office-group.office-group--phone
            img(src="img/icons/phone-light.svg" alt="email icon")
            .group-container
              p.phone (33) 38 55 81 21 / (33) 36 13 37 18
              p.phone (33) 36 19 31 88 / (33) 36 58 23 38
        .contact-data__office
          .office-group
            img(src="img/icons/pin-light.svg" alt="email icon")
            .group-container
              p.city Col. Jardines de Jerez. León, Gto.
              p.address Boulevard Juan José Torres Landa 5306 local 5
          .office-group.office-group--phone
            img(src="img/icons/phone-light.svg" alt="email icon")
            .group-container
              p.phone (477) 167 50 08 / (477) 167 50 09
        .contact-data__office
          .office-group
            img(src="img/icons/pin-light.svg" alt="email icon")
            .group-container
              p.city Chichimequillas Ejido Tierra Blanca, Querétaro.
              p.address Micro Parque Industrial Atta, Carr. Estatal 500
          .office-group.office-group--phone
            img(src="img/icons/phone-light.svg" alt="email icon")
            .group-container
              p.phone (442) 980 07 88
