ul.main-header__social-networks.social-networks
  li
    a(href="#" target="_blank")
      img(src="img/icons/icon-whatsapp.svg" alt="Icon Whatsapp")
  li
    a(href="#" target="_blank")
      img(src="img/icons/icon-facebook.svg" alt="Icon Facebook")
  li
    a(href="#" target="_blank")
      img(src="img/icons/icon-instagram.svg" alt="Icon Instagram")
