section.section.easyvent
  h2.section-title.color-main Conoce Easyvent
  h3.section-subtitle El software de selección de Soler y Palau
  article.container.easyvent__container
    .easyvent__text
      p Es un selector online que te acompañará desde el inicio del proyecto, adaptándose a las modificaciones que se aparecerán.
      a.more-info(href="#") Más Información
    img.easyvent__image(src="img/banner/9.jpg")
