section.section.focus
  article.container.focus__container
    h2.section-title nos enfocamos en
    p Brindar la mejor experiencia a nuestros clientes en cada uno de sus proyectos, contamos con el personal capacitado para llevar a cabo la correcta venta, instalación y/o mantenimiento de sus productos y servicios.

