section.section.easyvent
  article.container.easyvent__container
    .easyvent__text
      p AADOCSSA nace en el año de 1984, desde sus inicios nos dedicamos a la venta, instalación y mantenimiento de equipos para aires acondicionados, incluyendo refacciones, refrigerantes, tuberías, etc.
    img.easyvent__image(src="img/banner/9.jpg")
