section.section.container.mission-section
  article.mission.bg-main
      h2.section-title.color-light Misión
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequatur dolorem maiores, molestias nemo officia quibusdam. Deserunt magni optio recusandae, sapiente soluta sunt suscipit voluptatum. Animi aspernatur necessitatibus vero voluptatum. Alias assumenda, cum et explicabo inventore libero mollitia quibusdam repellendus? Aspernatur consequatur
  article.vission.bg-dark
      h2.section-title.color-light visión
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequatur dolorem maiores, molestias nemo officia quibusdam. Deserunt magni optio recusandae, sapiente soluta sunt suscipit voluptatum. Animi aspernatur necessitatibus vero voluptatum. Alias assumenda, cum et explicabo inventore libero mollitia quibusdam repellendus? Aspernatur consequatur

