-let pageTitle = ''
-let siteName = 'AADOCCSA | Soler & Palau'
-let twitterAccount = '@aadoccsa'
-let pageDescription = 'Somos distribuidores de SyP el líder mundial en sistemas de ventilación para entornos domésticos, comerciales e industriales.'
-let pageImage = ''
-let pageUrl = 'https://solerypalau.mx'
-let logo = 'icons/logo-aadoccsa.svg'
-
  let pages = [
    {
      title: 'Inicio',
      url: './',
      child: []
    },
    {
      title: 'Nosotros',
      url: 'nosotros',
      child: []
    },
    {
      title: 'Productos',
      url: 'productos',
      child: []
    },
    {
      title: 'Informate',
      url: 'informate',
      child: []
    },
    {
      title: 'Contacto',
      url: 'contacto',
      child: []
    }
  ]
